In [9]:
# 12.Python program to find tuples which have 
# all elements divisible by K from a list of tuples.


k = 2
x = [(24,56,78,90,1,3,9,10)]
for i in x:
    for j in i:
        if j%k==0:
            print("Divisible by K----->",j)

Divisible by K-----> 24
Divisible by K-----> 56
Divisible by K-----> 78
Divisible by K-----> 90
Divisible by K-----> 10

In [10]:
x = (1,3,4,5,8,4)
y = list(x)
print(y)

[1, 3, 4, 5, 8, 4]

In [12]:
y.remove(4)

In [13]:
y

[1, 3, 5, 8, 4]

In [14]:
z = tuple(y)

In [15]:
print(z)

(1, 3, 5, 8, 4)

In [23]:
# Wap to find the sum of number in a list where number is given by the user?

x = int(input("Enter the number!!"))
y = []
for i in range(0,4):
    b = int(input())
    y.append(x)
print(y)

Enter the number!!1
[1, 1, 1, 1]

######

# DICT

In [24]:
x = {
    'name':'A',
    'age':23,
    'marks':34.9
}

In [25]:
print(x)

{'name': 'A', 'age': 23, 'marks': 34.9}

In [26]:
type(x)

dict

In [27]:
# Slicing & indexing
# Dict have no index....
# not able to slice
x

{'name': 'A', 'age': 23, 'marks': 34.9}

In [29]:
x['age']

23

In [32]:
x = {
    'name':['A','B','C'],
    'age':(23,34,12),
    'marks':[34.9,23,90]
}

In [33]:
print(x)

{'name': ['A', 'B', 'C'], 'age': (23, 34, 12), 'marks': [34.9, 23, 90]}

In [34]:
x['marks'][2]

90

In [36]:
#wap to make a dict inside dict.
x = {
    'name':['A','B','C'],
    'age':(23,34,12),
    'marks':(34.9,23,90),
    
    'y':{
        'phone':'9891464311',
        'addr.':"Delhi"
    }
}

In [37]:
print(x)

{'name': ['A', 'B', 'C'], 'age': (23, 34, 12), 'marks': (34.9, 23, 90), 'y': {'phone': '9891464311', 'addr.': 'Delhi'}}

In [39]:
x['y']['addr.']

'Delhi'

In [48]:
x = {
    'name':['A','B','C'],
    'age':(23,34,12),
    'marks':(34.9,23,90),
    0:1,
    '0':'1',
    '0':1,
    1:'hello',
    '1':0,
    
    'y':{
        'phone':'9891464311',
        'addr.':"Delhi"
    }
}

In [49]:
x

{'name': ['A', 'B', 'C'],
 'age': (23, 34, 12),
 'marks': (34.9, 23, 90),
 0: 1,
 '0': 1,
 1: 'hello',
 '1': 0,
 'y': {'phone': '9891464311', 'addr.': 'Delhi'}}

In [50]:
# key
# values
# items
# update
# pop


x

{'name': ['A', 'B', 'C'],
 'age': (23, 34, 12),
 'marks': (34.9, 23, 90),
 0: 1,
 '0': 1,
 1: 'hello',
 '1': 0,
 'y': {'phone': '9891464311', 'addr.': 'Delhi'}}

In [51]:
x.keys()

dict_keys(['name', 'age', 'marks', 0, '0', 1, '1', 'y'])

In [52]:
x.values()

dict_values([['A', 'B', 'C'], (23, 34, 12), (34.9, 23, 90), 1, 1, 'hello', 0, {'phone': '9891464311', 'addr.': 'Delhi'}])

In [53]:
x.items()

dict_items([('name', ['A', 'B', 'C']), ('age', (23, 34, 12)), ('marks', (34.9, 23, 90)), (0, 1), ('0', 1), (1, 'hello'), ('1', 0), ('y', {'phone': '9891464311', 'addr.': 'Delhi'})])

In [55]:
x.pop(0)

1

In [56]:
x.pop(1)

'hello'

In [57]:
x.pop(2)

KeyError: 2

In [58]:
x

{'name': ['A', 'B', 'C'],
 'age': (23, 34, 12),
 'marks': (34.9, 23, 90),
 '0': 1,
 '1': 0,
 'y': {'phone': '9891464311', 'addr.': 'Delhi'}}

In [59]:
x.update()

In [60]:
x

{'name': ['A', 'B', 'C'],
 'age': (23, 34, 12),
 'marks': (34.9, 23, 90),
 '0': 1,
 '1': 0,
 'y': {'phone': '9891464311', 'addr.': 'Delhi'}}

In [61]:
x.update()

In [62]:
x

{'name': ['A', 'B', 'C'],
 'age': (23, 34, 12),
 'marks': (34.9, 23, 90),
 '0': 1,
 '1': 0,
 'y': {'phone': '9891464311', 'addr.': 'Delhi'}}

In [67]:
# 2 dict
x = {1:10,2:20}
y = {1:23,'x':45}
x.update(y)
x

{1: 23, 2: 20, 'x': 45}

In [70]:
#wap to find the single element dict
#wap to make a empty dict.

x = {1:0}
print(x)

{1: 0}

In [71]:
type(x)

dict

In [72]:
x = {}
print(x)

{}

In [73]:
type(x)

dict