In [1]:
# Python program to swap two elements in a list.
a = [45,56,78,23]
a[0],a[1] = a[1],a[0]
print(a)

[56, 45, 78, 23]

In [2]:
a = [45,56,78,23]
x = a[0]
a[0]=a[1]
a[1]=x
print(a)

[56, 45, 78, 23]

In [3]:
a

[56, 45, 78, 23]

In [4]:
a[::-1]

[23, 78, 45, 56]

In [5]:
a.reverse()

In [6]:
a

[23, 78, 45, 56]

In [11]:
x = [23, 78, 45, 56]
y = 1
for i in x:
    y = y*i
    print(y)

23
1794
80730
4520880

In [12]:
# second largest number

x = [45,56,78,23,12,90]
x.sort()

In [13]:
x

[12, 23, 45, 56, 78, 90]

In [14]:
print(x[-2])

78

In [16]:
a = [23,45,67,12,4,34,1]
b =a[0]
for i in a:
     if b>i:
        b=i
print(b)

1

In [21]:
x = [23,45,78,90,22,56]
count_even = 0 
count_odd= 0
for i in x:
    if i%2==0:
        print("Even",i)
        count_even = count_even+1
        
    else:
        print("Odd",i)
        count_odd+=1
        
print("Count of even ----->",count_even)
print("Count of odd------>",count_odd)

Odd 23
Odd 45
Even 78
Even 90
Even 22
Even 56
Count of even -----> 4
Count of odd------> 2

# list last point

In [22]:
a

[23, 45, 67, 12, 4, 34, 1]

In [23]:
# slicing
a[:]

[23, 45, 67, 12, 4, 34, 1]

In [24]:
a[0:]

[23, 45, 67, 12, 4, 34, 1]

In [30]:
a[:7]

[23, 45, 67, 12, 4, 34, 1]

In [27]:
a[::2]

[23, 67, 4, 1]

In [32]:
a[::2]

[23, 67, 4, 1]

# Tuple

In [33]:
x = (1,2,3,4)
x

(1, 2, 3, 4)

In [34]:
type(x)

tuple

In [35]:
t = ("hello","1",'2')

In [36]:
t

('hello', '1', '2')

In [37]:
type(t)

tuple

In [39]:
t = (1,23,4,5,6,"hello","1",'2',45.6,56.2,True)

In [40]:
print(t)

(1, 23, 4, 5, 6, 'hello', '1', '2', 45.6, 56.2, True)

In [41]:
type(t)

tuple

In [42]:
# slicing & indexing
t

(1, 23, 4, 5, 6, 'hello', '1', '2', 45.6, 56.2, True)

In [45]:
t[0:]

(1, 23, 4, 5, 6, 'hello', '1', '2', 45.6, 56.2, True)

In [47]:
t[3]=500

TypeError: 'tuple' object does not support item assignment

In [48]:
x = (1,1,1,1,1,1,1,1.1)
x

(1, 1, 1, 1, 1, 1, 1, 1.1)

In [49]:
# duplicacy allowed
# immutable
# ordered way
# indexed

# method in tuple---->
# count
# index
a

[23, 45, 67, 12, 4, 34, 1]

In [53]:
a.count(0)

0

In [54]:
a.count(1)

1

In [55]:
a.count(12)

1

In [56]:
x

(1, 1, 1, 1, 1, 1, 1, 1.1)

In [57]:
x.count(1)

7

In [62]:
x = (1, 1, 1, 1, 1, 1, 1, 1.0,-1,-1.0)

In [63]:
x.count(1)

8

In [64]:
a

[23, 45, 67, 12, 4, 34, 1]

In [74]:
a = (23,23, 45, 67, 12, 4, 34, 1,23)

In [75]:
a.index(23)

0

In [76]:
a[0]

23

In [77]:
a

(23, 23, 45, 67, 12, 4, 34, 1, 23)

In [98]:
x = (23, 23, 45, [67, (12,56), 4], 34, 1, 23)

In [99]:
print(x)

(23, 23, 45, [67, (12, 56), 4], 34, 1, 23)

In [100]:
type(x)

tuple

In [101]:
x[2]

45

In [102]:
x[4]

34

In [103]:
x

(23, 23, 45, [67, (12, 56), 4], 34, 1, 23)

In [104]:
x[3][1][0]

12

In [106]:
type(x[3][1])

tuple

In [107]:
x

(23, 23, 45, [67, (12, 56), 4], 34, 1, 23)

In [110]:
x[3]

[67, (12, 56), 4]

In [111]:
x= (1,2,[3,4],5)

In [117]:
x[2][1]= 90

In [118]:
x

(1, 2, [3, 90], 5)

In [121]:
x[2][0]=[0]

In [122]:
x

(1, 2, [[0], 90], 5)

In [123]:
#wap to find single element tuple.
#wap to find empty tuple.

# empty tuple
a = ()
print(a)

()

In [124]:
type(a)

tuple

In [127]:
a = (1,)
print(a)

(1,)

In [128]:
type(a)

tuple

In [129]:
a = 34,56,78,90,12,23,0.89
print(a)

(34, 56, 78, 90, 12, 23, 0.89)

In [130]:
type(a)

tuple